body {
  font-family: "Fontdinerdotcom Huggable";
  text-align: center;
  color: white;
  -webkit-text-stroke: 1.5px black;
}

h1 {
  font-size: 50px;
}

.App {
  height: 1000px;
  /*center image*/
}

.row Link {
  text-decoration: none;
}

.img-fluid{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.albumsList {
  display: inline-block;
  position: relative;
  margin: 50px;
  list-style: none;
  text-align: left;
}

.playButton {
  margin-right: 10px;
}

button {
  background-color: blue;
}