body {
  text-align: center;
  /*background-image:
    radial-gradient(
      red,
      blue
    );*/
  color: white;
}

.App {
  height: 1000px;
  /*center image*/
}

.img-fluid{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.albumsList {
  display: inline-block;
  position: relative;
  margin: 50px;
  list-style: none;
  text-align: left;
}

.playButton {
  margin-right: 10px;
}

button {
  background-color: blue;
}