body {
  margin: 0;
  padding: 0 auto;
  font-family: sans-serif;
  text-align: center;
  background-color: darkred;
}

img {
  margin-top: 20px;
  height: 200px;
  width: 200px;
}

.albumsList li {
  list-style: none;
  text-align: left;
}

.playButton {
  margin-right: 10px;
}